/* About Me Page Styles */

/* COLOR VARIABLES */
:root {
    --black: #131516;
    --neonblue: #12d0f1; 
    --brightNeonBlue: #32e0ff; 
}

.pageWrapper {
    margin-top: 2px;
    
 
    
}

.profilePic {
    
    position: relative;
    margin-bottom: 3%;
    width: 230px;
    height: 200px;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px 8px #22dbfc;
  }

.aboutText {
    margin: 0 10%;
    text-align: center;
    background-color: rgba(var(--black), 0.5);
    line-height: 1.9rem;
    font-size: 20px;
    padding: 2% 1% 3%;
    font-weight:400;
    
}

h1 {
    margin-top: 0px;
    color: black;
    line-height: 1;
    
}

/* flickering effect for aboutText */
.aboutText span {
    animation: flicker 500ms linear;
}

.aboutText .delay1 {
    animation-delay: 0.4s;
}

.aboutText .delay2 {
    animation-delay: 0.6s;
}

@keyframes flicker {
    0% {opacity: 0; filter: brightness(0);}
    10% {opacity: 1; filter: brightness(0.5);}
    20% {opacity: 0; filter: brightness(2);}
    40% {opacity: 1; filter: brightness(1.5);}
    50% {opacity: 0; filter: brightness(3);}
    60% {opacity: 1; filter: brightness(1.5);}
    80% {opacity: 0; filter: brightness(1);}
    100% {opacity: 1; filter: brightness(0.5);}
}

/* media queries for smallest screen*/

@media screen and (max-width: 425px) {

    .aboutText {

        line-height: 1.4rem;
        font-size: 19px; 
        padding: 3% 2% 6%;

    }

    .profilePic {
        
        margin-bottom: 5%;
    }
}
