

/* COLOR VARIABLES */
:root {
    --black: #131516;
      
    --neonblue: #12d0f1; 
    --brightNeonBlue: #32e0ff; 
}

/* NAVIGATION STLYE */

.navContainer {
    
    display: flex;
    position: absolute;
    margin-left: 71vw;
    margin-top: 1.5%;
    line-height: 1.4;
    /* justify-content: flex-end; */
    list-style: none;
        
    
    
    background-color: rgba(var(--black), 0.5);
    padding: 7px;
    
     
    border-radius: 5px;
    box-shadow: 0 0 20px 8px #32e0ff;
    
    
    
    
    
    /* transform: translate(1200px, 30px); */
    
}



.navContainer ul {
    
    padding-left: 15px;
    
}

/* NAVIGATION LIST ITEM STYLE */
nav li {
    display:flex;
    font-size: 1.5em;
        
}

/* NAVIGATION LINK STYLE */
nav a {
    display:flex;
    color: var(--neonblue);
    margin-right: 14px;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    /* ---------------insert hover flicker here------------------------------ */
}



.navActive {
/* glow effect for active nav item */
color: var(--brightNeonBlue);
text-shadow: 
/* 0 0 2px #000,
0 0 5px #ffffff00, 
0 0 10px #ffffff00, 
0 0 20px #0ff, 
0 0 40px #0ff,
0 0 50px #0ff; */

0 0 2px #00ffffff,
0 0 0px #ffffff,
0 0 10px #ffffff,
0 0 20px #0ff, 
0 0 40px #0ff,
0 0 50px #0ff;




}

.navInactive {
/* inactive style here */
}