


.pageWrapper {
    margin-top: 2px;
   

}

/* .pTitle {
    color: var(--brightNeonBlue);
} */

.projectContainer {
   padding: 0 5%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
  
   /* padding: 2%; */
}

.projectContainer > div {
    /* flex-basis: 5%; */
    flex: 0 0 280px;
    margin: 10px;
    /* padding: 10px 0 ; */
    padding-top: 1.5%;
}

.projectCard {
background: black;

border: 1px solid var(--neonblue); 
box-shadow: 0 0 10px 4px #22dbfc;

border-radius: 7px;
padding: 7px 7px 0;

margin-top:5%;



}

.projectImg {
   
    border-radius: 5px;
    border: 3px inset var(--neonblue);
    
}

.descText {
    border-radius: 7px;
    /* background-color: rgb(20, 20, 20); */
    padding: 5px;
    text-align: center;
    margin-bottom: 3px;
    /* border-left: 2px inset var(--neonblue);
    border-right: 2px inset var(--neonblue); */
}
/* .projectImg:hover {
    transition: transform 0.3s ease;
    transform: scale(2.2);
    
} */

.projectCard:hover {
 
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.linksWrap {
    display: flex;
    justify-content: space-around;
    background-color: var(--neonblue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:black;
    font-weight: normal;
    font-size: 20px;
    
}

.linksWrap a:hover {
    font-weight: bolder;   
    font-size: 22px;
    cursor: pointer;
        
      
}

  .linksWrap a:hover .spinIcon {
    animation: spin 2s infinite linear;
    background-color: black;
    color: var(--neonblue);
    border-radius: 8px;
        
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  